<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>


    {% if user.is_authenticated %}
        <p>Вы уже вошли как {{ user.username }}</p>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    {% endif %}

    <p><a href="{% url 'book_list' %}">На главную</a></p>
</body>
</html>